:root{
    --main-bg-color: #72efdd;
    --main-text-color:#6930c3;
    --second-text-color:#1a759f;
    --second-bg-color: #52b69a;   
}

.primary-text {
    color: var(--main-text-color);
}

.second-text{
    color: var(--second-text-color);
}

.primary-br{
    background-color: var(--main-bg-color);
}

.secondary-bg{
    background-color: var(--second-bg-color);
}

#wrapper {
    overflow-y: hidden;
    background-image: linear-gradient(
        to top,
        #ade8f4,
        #90e0ef,
        #48cae4,
        #00b4d8,
        #0096c7
    );
}

.rounded-full {
    border-radius: 100%;
}



/* efeito para sidebar sumir quando for aplicado js */
#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}


/* sidebar */
#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;

}

/* id na section de sidebar */
#sidebar-wrapper .list-group {
    width: 15rem;
}

/* alinhamento menu */
#page-content-wrapper {
    min-width: 100vw;
}

/* id colocada na parte do #wrapper */
#wrapper .toggled #sidebar-wrapper {
    margin-left: 0;
}

/* efeito de cursor no menu toggle */
#menu-toggle {
    cursor: pointer;
}

/* afastanto o list-group */
.list-group-item {
    border: none;
    padding: 20px 30px;
}

/* colocando cor na lista com classe active */
.list-group-item-action {
    color: var(--main-text-color);
    background-color: transparent;
    font-weight: bold;
    border: none;
}




@media (min-width:768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
} 